<h2>Please enter your question</h2>
<form action="/answer" method="get">
  <input type="text"
         name="question"
         value="<%= params[:question] %>"
         placeholder="Enter question here...">
  <input type="submit">
</form>

